<!DOCTYPE html>
<html lang="es">
	<head >
		<meta charset="UTF-8">
		<title>Formulario de Registro</title>
		<link rel="stylesheet" href="../static/css/estilos.css">
	</head>
	<body>
		<header id="encabezado">
			<h1>Ingrese sus datos</h1>
		</header>
		
		<form action="#" method="post" id="form">
			<div class="container-form">
				<label for="dni" class="label">DNI</label><br>
				<input type="number" name="dni" id="dni" class="form-input"  required><br><br>
							
				<label for="nombres" class="label">Nombres</label><br>
				<input type="text" name="nombres" id="nombres" class="form-input" required><br><br>
				
				<label for="apellidos" class="label">Apellidos</label><br>
				<input type="text" name="apellidos" id="apellidos" class="form-input" required><br><br>
				
				<label for="fechaNacimiento" class="label">Fecha de nacimiento</label><br>
				<input type="date" name="fechaNacimiento" id="fechaNacimiento" class="form-input" required><br><br>
				
				<label for="genero" class="label">Genero</label><br> 
				<div class="generos">
					<label>
						<input type="radio" name="genero" value="mujer"> Mujer
					</label>
					
					<label>
					<input type="radio" name="genero" value="hombre"> Hombre
					</label>
					
					<label>
					<input type="radio" name="genero" value="x"> X
					</label>
					
				</div> 
				
				<label for="correo" class="label">Correo electrónico</label><br>
				<input type="email" name="correo" id="correo" class="form-input" required><br><br>
				
				<label for="domicilio" class="label">Domicilio</label><br>
				<input type="text" name="domicilio" id="domicilio" class="form-input" required><br><br>
				
				<label for="provincia" class="label">Provincia</label><br>
				<select name="provincia" id="provincia"  required>
					<option "" selected></option>
					<option value="JUJUY">Jujuy</option>
					<option value="SALTA">Salta</option>	
					<option value="TUCUMAN">Tucuman</option>	
					<option value="CATAMARCA">Catamarca</option>
					<option value="LA RIOJA">La Rioja</option>		
				</select><br><br>
				
				<label for="telefono" class="label">Teléfono celular</label><br>
				<input type="text" name="telefono" id="telefono" class="form-input"><br><br>
				
				<label for="categorias" class="label">Intereses</label><br>
				
				<div class="intereses">
					<label>
					<input type="checkbox" name="categorias" value="musica"> Música
					</label>
					
					<label>
					<input type="checkbox" name="categorias" value="deportes"> Deportes
					</label>
					
					<label>
					<input type="checkbox" name="categorias" value="lectura"> Lectura
					</label>				
				</div>
				
				<label  for="sugerencias" class="label">Sugerencias para la empresa</label><br>
				<textarea rows="10" cols="60" name="sugerencias" id="sugerencias"></textarea><br><br>
				
				<label for="password" class="label">Contraseña</label><br>
				<input type="password" name="password" id="password" class="form-input"  required><br><br>
				
				<label for="terminos-condiciones" class="label">Acepto los términos y condiciones</label>
				<input type="checkbox" name="terminos-condiciones" id="terminos-condiciones" required><br><br>
				
				<label for="aceptar-info" class="label">Acepto recibir información relativa a la empresa</label>
				<input type="checkbox" name="aceptar-info" id="aceptar-info"><br><br>
				
				<input type="submit" name="submit" id="submit"  value="Enviar datos">
			</div>
		</form>
	</body>
	
</html>