<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Trabajo Practico 3</title>
	<link rel="stylesheet" href="../static/css/estilos.css">
</head>
<body>
<header id="encabezado">
	<h1>Programación visual</h1>
</header>
	<nav class="nav-bar">
		<ul>
			<li><a class="enlace" href="#">Inicio</a></li>
			<li><a class="enlace" href="#profesores">Profesores</a></li>
			<li><a class="enlace" href="#programa">Programa</a></li>
			<li><a class="enlace" href="#contacto">Contacto</a></li>

		</ul>
	</nav>
	<main class="contenido-principal">
		<section id="programacion-visual" class="section">
			<h2 class="title-section">Programacion visual</h2>
			<p class="text-section">La materia de Programación Visual en el segundo año de la Facultad de Ingeniería de la Universidad Nacional de Jujuy es fundamental para los estudiantes que buscan profundizar en el desarrollo de aplicaciones complejas y robustas. A lo largo del curso, se abordan una amplia variedad de temas que proporcionan una sólida base en programación y desarrollo web.</p>
			<div class="img-pv-container">
				<img src="../static/images/prog-visual-img.jpg" />
			</div>
			<div id="profesores">
			<h3>Profesores encargados de las materias</h3>
			
			<ul>
				<li><a href="https://virtual.unju.edu.ar/user/profile.php?id=6082">Carolina Apaza</a></li>
				<li><a href="">Ariel Vega</a></li>
				<li><a href="">Juan Rodriguez</a></li>
				<li><a href="https://virtual.unju.edu.ar/user/profile.php?id=10947">Gustavo Sosa</a></li>
			</ul>
			</div>
		</section>
		
		
		
		
		<section id="programa" class="section">
			<h2 class="title-section">Programa</h2>
			<p class="text-section">Al ser materia cuatrimestral se ven muchos temas de una manera intensa y optima para que los alumnos
				puedan aprender eficientemente
			</p>
					
			<table class="tabla">
				<tr>
					<th>Unidad I: Lenguaje Java</th>
					<th>Unidad II: Introducción a Spring Boot</th>
					<th>Unidad III: Gestión de Dependencias y versionamiento</th>
					<th>Unidad IV: Spring Boot MVC</th>
					<th>Unidad V: Clases de negocio</th>
					<th>Unidad VI: Persistencia de Objetos</th>
					<th>Unidad VII: Manejo de formularios</th>

				</tr>
				<tr>
					<td>Tipos de datos primitivos y complejos. Estructuras de datos. Operadores. Uso de Strings, Arreglos y Colecciones. Conceptos generales de la Programación Orientada a Objetos. Clases y objetos: Definición y Ejemplos. </td>
					<td>Arquitectura de aplicaciones Web. Herramientas necesarias. ¿Qué es un Framework? Evolución de Spring. Módulos disponibles. Arquitectura de una aplicación con Spring. Creación de proyectos con Spring Boot en un IDE. Concepto de Controladores. Gestión de peticiones con RequestMapping. Introducción a HTML. Estructura de un documento HTML. Introducción a CCS. Creación de un sitio Web HTML. </td>
					<td>Gestión de Proyectos mediante un sistema de control de versionamiento. Git: tareas de versionamiento con Git. Integración de Git con un IDE. Maven: descripción y utilidad. Descripción de la estructura de un proyecto Maven. Gestión de dependencias, repositorio Maven. Uso de arquetipos Maven. Spring boot y Maven. </td>
					<td>Thymeleaf como motor de templates. Creación de un proyecto MVC con Spring Boot y thymeleaf. Configuración de propiedades mediante el fichero properties o yml. Introducción a Bootstrap: concepto e implementación de componentes. Navbar. Grillas con Bootstrap. Cards. Buttons. Breadscrumb.  </td>
					<td>Creación de clases de negocio. Clases de Servicio. Concepto de Inyección de dependencias. Vinculación entre clases de negocio con Servicios. Agregar objetos al modelo (Model). Renderizado de la UI con Thymeleaf.  </td>
					<td>Conceptos básicos de persistencia de objetos. Introducción a JPA. Conexión a un Motor de Base de Datos. Configuración de JPA con Spring Boot. CrudRepository, JpaRepository, Query Methods, Relaciones. Sistema de trazas: configuración con Spring Boot.</td>
					<td>Gestión de eventos. Búsquedas. CRUD de clases de negocio. Operaciones de negocio. Uso de @Query para consultas personalizadas. Integración con componentes Bootstrap y thymeleaf. Integración de conceptos en una aplicación robusta. </td>
				</tr>
			</table>
			
			
		</section >
		
		<section id="proyectos" class="section">
			<h2 class="title-section">Proyectos</h2>
			<p class="text-section">Ejemplo de los tipos de proyectos que se pueden hacer</p>
			
			<ul class="proyectos-lista">
				<li><a href="https://wordpress.org/">Wordpress (Sistema de Gestión de Contenidos (CMS))</a></li>
				<li><a href="https://www.shopify.com/es">Shopify (Plataforma de Comercio Electrónico)</a></li>
				<li><a href="https://www.atlassian.com/es/software/jira">Jira (Sistema de Gestión de Proyectos)</a></li>
				<li><a href="https://www.reservio.com/es">Reservio (Sistema de Reservas y Citas)</a></li>
			</ul>
				
					
		</section>
	</main>
	<aside>
		<h3>Más info de otras carreras y tutorias</h3>
		<a href="https://www.fi.unju.edu.ar/"><img src="../static/images/banner-fiunju.jpg" alt="banner-fi-unju" /></a>
	</aside>
	<footer id="contacto">
		<h2>Contacto</h2>
		<div class="container-contact-footer">
			<div>
				<h3>Para más informacion llamar a los siguientes números</h3>
				<table>
					<tr>
						<th>Consultas</th>
						<th>Reclamos</th>
					</tr>
					<tr>
						<td>deptoalumnos@gmail.com</td>
						<td>388555-5678</td>
					</tr>
					<tr>
						<td>38865-3456</td>
						<td>38855-7890</td>
					</tr>
				</table>
				
			</div>
						
			<div>					
			<h3>Redes sociales</h3>
			<ul class="redes">
				<li><a href="https://www.facebook.com/fiunju/">facebook</a></li>
				<li><a href="https://www.instagram.com/fiunju/">instagram</a></li>
				<li><a href="https://www.linkedin.com/school/facultad-de-ingenieria-unju/">linkedin</a></li>
			</ul>			
			</div>
		</div>
	</footer>
	
</body>


</html>